div.CodeMirror {
    height: 100vh;
    padding: 1em;
    font-size: 13pt;
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Source Code Pro', monospace; */
}

html, body{ 
    min-height: 100vh;
    overflow: auto;
    background-color: rgb(210, 210, 210);
}

button {
    -webkit-app-region: no-drag;
}

.sidebar {
    position: sticky;
    order: 0;
    height: 100vh;
    z-index: 1000;
    border-right: 1px solid rgba(0,0,0,.1);
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(230, 230, 230);
}

.sidebar-header {
    position: relative;
    padding: 1em;
}

.content {
    order: 1;
    height: 100vh;
}

.sidebar-item {
    font-size: normal;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.1em;  
}

main.content {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

main#editor-body {    
    margin-top: 75px;
    overflow: hidden;
    height: calc(100vh - 75px);
    padding: 0px;
}

div#editor {
    padding: 1em;
}

div.editor-body {
    background-color: rgb(254, 254, 254);
    height: calc(100vh - 60px);
    overflow: scroll;
}

.searchbar {
    height: 50px;
    background-color: rgb(210, 210, 210);
    padding-left: 1em;
    border-bottom: 1px solid rgba(109, 109, 109, 0.1);
    margin-bottom: 1px;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    /* width: 2.375rem; */
    /* height: 2.375rem; */
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    margin-left: 6.5rem;
}

a.searchbar-navi-button {
    font-size: 1.5em;
    display: inline-block;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

a.searchbar-navi-button:hover {
    color: black;
}

span#home a {
    color: darkblue;
    text-decoration: none;
}

ul.file-list > li:nth-of-type(odd) {
    color: rgb(92, 91, 91);
}

ul.file-list > li:nth-of-type(even) {
    color: rgb(41, 31, 31);
}

div#mindlessEditor {
    padding-top: 3em;
}
