div.CodeMirror {
    height: calc(100vh - 40px);
    padding-left: 0.5em;
    font-size: 12pt;
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Source Code Pro', monospace; */
}

html, body{ 
    min-height: 100vh;
    overflow: hidden;
    background-color: rgb(210, 210, 210);
}

.container-fluid {
    padding: 0px;
}

button {
    -webkit-app-region: no-drag;
}

.sidebar {
    position: sticky;
    order: 0;
    height: calc(100vh - 38px);
    z-index: 1000;
    border-right: 1px solid rgba(0,0,0,.1);
    overflow-y: auto;
    padding-left: 0px;
    padding-right: 0px;
    background-color: rgb(230, 230, 230);
}

.sidebar-header {
    position: relative;
    padding: 1em;
}

.content {
    order: 1;
    height: 100vh;
}

.sidebar-item {
    font-size: normal;
    padding-left: 1em;
    padding-right: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0.1em;  
}

main.content {
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
}

main#editor-body {    
    margin-top: 75px;
    overflow: hidden;
    height: calc(100vh - 75px);
    padding: 0px;
}

div#editor {
    padding: 1em;
}

div.editor-body {
    background-color: rgb(254, 254, 254);
    height: calc(100vh - 60px);
    overflow: scroll;
}

.searchbar {
    background-color: rgb(210, 210, 210);
    padding-left: 4.7em;
    border-bottom: 1px solid rgba(109, 109, 109, 0.3);
    /* margin-bottom: 1px; */
}

.has-search .form-control {
    padding-left: 1.8rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    /* width: 2.375rem; */
    /* height: 2.375rem; */
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: rgb(208, 208, 208);
    margin-left: 4.3rem;
}

a.searchbar-navi-button {
    font-size: 1.5em;
    display: inline-block;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    font-weight: bold;
    color: rgb(75, 75, 75);
}

a.searchbar-navi-button:hover {
    color: black;
}

span#home a {
    color: darkblue;
    text-decoration: none;
}

/* Sidebar file list */
ul#file-list li {
    font-size: 10pt;
    padding: 0.2rem 0.4rem 0.1rem 0.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

ul#file-list li a {
    color: rgb(41, 41, 41);
}

ul#file-list li a:hover {
    text-decoration: none;
    color: #bb0293;
}

ul#file-list > li:nth-of-type(odd) {
    background-color: rgb(250, 250, 250);
}

ul#file-list > li:nth-of-type(even) {
    background-color: rgb(240, 240, 240);
}

input#searchinput {
    height: 130%;    
}

/* div#mindlessEditor {
    /* padding-top: 2.3em; */
    /* margin-top: 4.5em; */
    /* height: calc(100vh - 75px);
} */

nav#navibar {
    border-radius: 0px;
    padding-right: 3px;
}

/* nav#navibar btn-sm { */
nav#navibar > button {
    margin: 2px;    
    padding: 0.05rem 0.5rem;
}

main#editormain {
    margin-top: 38px;
}

.list-group-item {
    border: 0px;
}