div.CodeMirror {
    color: rgb(31, 31, 31);
    height: 100vh;
    padding: 0.5em;
    font-size: 12pt;
    /* font-family: 'Ubuntu Mono', monospace; */
    /* font-family: 'Source Code Pro', monospace; */
}

html, body{ 
    min-height: 100vh;
    overflow: auto;
}

span.cm-url {
    cursor: pointer;
}

span.cm-link {
    cursor: pointer;
}
